.button-card {
  background-color: var(--green);
  border: 1px solid #02939c;
  border-radius: 0.5rem;
  box-sizing: border-box;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  color: var(--white);
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0.7rem 1rem;
}
